<h1>New insurance certificate</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Customer name</label>
    <input type="text" class="form-control" formControlName="customerName">
  </div>
  <div class="mb-3">
    <label class="form-label">Customer date of birth</label>
    <input type="date" class="form-control" formControlName="customerDateOfBirth">
  </div>
  <div class="mb-3">
    <label class="form-label">Insured item</label>
    <input type="text" placeholder="Apple iPhone 14" class="form-control" formControlName="insuredItem">
  </div>
  <div class="mb-3">
    <label class="form-label">Insured sum</label>
    <input type="number" class="form-control" formControlName="insuredSum">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
